<div class="mt-4">
    <div class="row">
    <div class="col-lg-4">
        <img src="{{{product.img}}}" alt="">
    </div>
    <div class="col-lg-4">
        <h1>{{product.name}}</h1>
    </div>
    <div class="col-lg-4">
        KHÔNG SỢ HẾT SIZE

        Do chẳng cần đợi nhân viên chốt đơn

        GIAO HÀNG TOÀN QUỐC

        Gửi hàng đi luôn trong ngày

        THANH TOÁN LINH HOẠT

        Tiền mặt/CK/ví điện tử/thẻ

        ĐỔI SIZE THOẢI MÁI

        Đến khi anh em hài lòng

        BẢO HÀNH TRỌN ĐỜI

        Lại dễ dàng chỉ cần đọc SĐT

        LUÔN LUÔN TRI ÂN

        100% tích điểm, giảm giá lần sau    
    </div>
</div>