.card-products-item {
  margin-top: 16px; }

.card-title {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical; }

.btn-primary {
  display: block;
  text-align: center;
  margin-top: 30px; }
